.bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  opacity: 0.3;
  @media (max-height: 800px) {
    display: none;
  }
}

.scroll {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  opacity: 0.7;
  p {
    font-size: 15px;
    font-weight: 500;
  }
  svg {
    animation: scroll 1.5s infinite;
  }
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
