.title {
  height: 230px;
  display: flex;
  align-items: center;
  @media (max-width: 800px) {
    height: 150px;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    height: auto;
  }
}

.text {
  max-width: 365px;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-size: 48px;
  }
  p {
    font-size: 24px;
  }
  @media (max-width: 800px) {
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 16px;
    }
  }
  @media (max-width: 600px) {
    max-width: 100%;
    text-align: center;
    gap: 15px;
  }
}

.line {
  width: 8px;
  height: 100%;
  margin: 0 30px;
  background-color: var(--cyan);
  border-radius: 4px;
  @media (max-width: 600px) {
    width: 70%;
    height: 4px;
    margin: 20px 0;
    flex-shrink: 0;
  }
}

.profile {
  h2 {
    margin-bottom: 10px;
  }
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 20px;
      margin-bottom: 14px;
    }
  }
}

.contact {
  width: fit-content;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  .inactive {
    opacity: 0.3;
  }
}
